:root {
  --text-one: #4a1d55;
  --text-two: #8E7C93;
  --text-three: #485665;
  --text-four: #51368D;
  --text-five: #fffff1;
  --text-six: #ab96b1;
  --text-seven: #36435e;
  --text-eight: #34205f;
  --text-nine: #cccaca;
}

html, body {
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  background: linear-gradient(var(--text-three), var(--text-seven));
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  margin: 80px auto 0px auto;
  max-width: 1200px;
}

.final-el{
  margin-left: auto;
}

.nav-container svg{
  color: var(--text-five)
}

a {
  text-decoration: none;
}
  
  

@media only screen and (max-width: 600px) {

}
